.min-h-screen {
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

/* MATRIX LOADER */

.matrix-loader {
  position: fixed;
  inset: 0;
  background: #000;
  color: #00ff66;
  z-index: 9999;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.matrix-title {
  position: relative;
  z-index: 2;

  font-size: clamp(2rem, 6vw, 5rem);
  letter-spacing: 6px;

  text-shadow:
    0 0 10px #00ff66,
    0 0 25px #00ff66;

  animation: glitch 1s infinite;
}

.matrix-rain {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: space-around;

  overflow: hidden;
}

.matrix-rain span {
  writing-mode: vertical-rl;
  text-orientation: upright;

  font-size: 1rem;
  font-weight: bold;

  color: #00ff66;

  opacity: 0.85;

  text-shadow:
    0 0 5px #00ff66,
    0 0 10px #00ff66;

  animation: rain 5s linear infinite;
  animation-delay: calc(var(--i) * -0.2s);

  user-select: none;
}

/* MATRIX ANIMATION */

@keyframes rain {
  from {
    transform: translateY(-120%);
  }

  to {
    transform: translateY(120%);
  }
}

/* GLITCH EFFECT */

@keyframes glitch {
  0%,
  100% {
    transform: translate(0);
  }

  20% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(2px, -2px);
  }

  60% {
    transform: translate(-2px, -2px);
  }

  80% {
    transform: translate(2px, 2px);
  }
}