@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  min-height: 100%;
  width: 100%;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

  background: linear-gradient(
    135deg,
    #050816 0%,
    #1b0f3a 30%,
    #312e81 65%,
    #06b6d4 100%
  );

  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}